defaults:
  - _self_ # First takes priority so any properties redefined here take precedence
  - paths: ibme_cluster # Simply override in cli call


## GLOBAL EVAL SETTINGS
tasks: ['gen_latents', 'latents_to_videos', 'compute_metrics']

real_data_path: ${paths.data_path}/CAMUS_Processed_Frames
output_dir: ${run_dir}/evaluation

#run_dir: ${paths.train_output_path}/../hydra_outputs/2025-09-20/21-58-58
run_dir: ${paths.train_output_path}/sweep_no_sf/mean/r02
ckpt_name: epoch=140-step=7597-val_loss=0.655.ckpt

test_n_missing_frames: [max, 0.75, 0.5, 0.25]  # Proportion of frames to mask


# Debugging
debugging: true
dataset_kwargs:
  n_sample_videos: 4 

## GENERATE LATENTS i.e. Inference parameters
inference_schemes:
  frame_upsampling:
    batch_size: 3

  #ef_histogram_matching:
  #  plan_path: ${paths.project_path}/evaluation/eval_plans/ef_histogram_matching_plan.csv  # Path to CSV file with generation plan
  #  batch_size: 4

  #ef_samples_in_range:
  #  ef_gen_range: [0.1, 0.8]  # Range of ef_gen values to sample from uniformly
  #  n_ef_samples: 3  # Number of ef_gen samples per video in ef_gen_range


  #  


#model_sample_kwargs:
#  guidance_scale: 1  # Classifier-free guidance scale; set to 1.0 for no guidance


## LATENT-TO-VIDEO PARAMETERS
repo_id: HReynaud/EchoFlow
types:
  - framewise
  - videowise
  - framewise_no_pad
  - videowise_no_pad
  - framewise_generated
  - videowise_generated
  - framewise_stitched
  - videowise_stitched
fps_metadata_csv: ${paths.data_path}/CAMUS_Latents_{vae_res}/metadata.csv # CSV with video_name and FPS column to override default FPS
queries:
  frame_upsampling:
    reconstruction_nmf50p: 'rec_or_gen == "rec" and n_missing_frames == "50p"'

  #ef_histogram_matching:
  #  generation_nmfmax_bin0: 'n_missing_frames == "max" and target_ef_bin == 0'
#
  #ef_samples_in_range:
  #  reconstruction_nmfmax: 'rec_or_gen == "rec" and n_missing_frames == "max"'
  #  generation_nmfmax: 'rec_or_gen == "gen" and n_missing_frames == "max"'

## COMPUTE METRICS
metrics:
  real_glob: ['*']            # glob pattern to match real videos
  fake_glob: ['*']            # glob pattern to match generated videos
  pairwise_metrics: [ssim, psnr, lpips_vgg, mae, mse]  # metrics to compute
  stylegan_metrics: [fid50k_full, fvd2048_10f]
  confidence: 0.95           # confidence level for CIs
  #resize: [112, 112]         # optional resize (H, W); set to null to keep native


hydra:
  run:
    dir: ${output_dir}/eval_cfgs/${now:%Y-%m-%d}/${now:%H-%M-%S}