defaults:
  - _self_ # First takes priority so any properties redefined here take precedence
  - paths: ibme_cluster # Simply override in cli call

tasks: ['latents_to_videos']
run_dir: ${paths.train_output_path}/hydra_outputs/2025-10-12/21-13-24

# Debugging
debugging: true
dataset_kwargs:
  n_sample_videos: 20 

## LATENT-TO-VIDEO PARAMETERS
real_data_path: ${paths.data_path}/CAMUS_Processed_Frames
time_and_date: '2025-10-03/20-37-30'  # Subdirectory under latents_dir to evaluate
latents_dirs: 
  ef_samples_in_range: ${run_dir}/evaluation/latents/${time_and_date}/ef_samples_in_range #null 
  ef_histogram_matching: ${run_dir}/evaluation/latents/${time_and_date}/ef_histogram_matching #null

repo_id: HReynaud/EchoFlow
types:
  #- framewise
  #- videowise
  - framewise_no_pad
  - videowise_no_pad
  #- framewise_generated
  #- videowise_generated
  #- framewise_stitched
  #- videowise_stitched
fps_metadata_csv: ${paths.data_path}/CAMUS_Latents_{vae_res}/metadata.csv # CSV with video_name and FPS column to override default FPS
queries:
  ef_histogram_matching:
    generation_nmfmax_bin0: 'n_missing_frames == "max" and target_ef_bin == 0'
    generation_nmfmax_bin1: 'n_missing_frames == "max" and target_ef_bin == 1'
    generation_nmfmax_bin2: 'n_missing_frames == "max" and target_ef_bin == 2'
    generation_nmfmax_bin3: 'n_missing_frames == "max" and target_ef_bin == 3'
    generation_nmfmax_bin4: 'n_missing_frames == "max" and target_ef_bin == 4'
    generation_nmf75p_bin0: 'n_missing_frames == "75p" and target_ef_bin == 0'
    generation_nmf75p_bin1: 'n_missing_frames == "75p" and target_ef_bin == 1'
    generation_nmf75p_bin2: 'n_missing_frames == "75p" and target_ef_bin == 2'
    generation_nmf75p_bin3: 'n_missing_frames == "75p" and target_ef_bin == 3'
    generation_nmf75p_bin4: 'n_missing_frames == "75p" and target_ef_bin == 4'
    generation_nmf50p_bin0: 'n_missing_frames == "50p" and target_ef_bin == 0'
    generation_nmf50p_bin1: 'n_missing_frames == "50p" and target_ef_bin == 1'
    generation_nmf50p_bin2: 'n_missing_frames == "50p" and target_ef_bin == 2'
    generation_nmf50p_bin3: 'n_missing_frames == "50p" and target_ef_bin == 3'
    generation_nmf50p_bin4: 'n_missing_frames == "50p" and target_ef_bin == 4'
    generation_nmf25p_bin0: 'n_missing_frames == "25p" and target_ef_bin == 0'
    generation_nmf25p_bin1: 'n_missing_frames == "25p" and target_ef_bin == 1'
    generation_nmf25p_bin2: 'n_missing_frames == "25p" and target_ef_bin == 2'
    generation_nmf25p_bin3: 'n_missing_frames == "25p" and target_ef_bin == 3'
    generation_nmf25p_bin4: 'n_missing_frames == "25p" and target_ef_bin == 4'

  ef_samples_in_range:
    reconstruction_nmfmax: 'rec_or_gen == "rec" and n_missing_frames == "max"'
    reconstruction_nmf75p: 'rec_or_gen == "rec" and n_missing_frames == "75p"'
    reconstruction_nmf50p: 'rec_or_gen == "rec" and n_missing_frames == "50p"'
    reconstruction_nmf25p: 'rec_or_gen == "rec" and n_missing_frames == "25p"'
    generation_nmfmax: 'rec_or_gen == "gen" and n_missing_frames == "max"'
    generation_nmf75p: 'rec_or_gen == "gen" and n_missing_frames == "75p"'
    generation_nmf50p: 'rec_or_gen == "gen" and n_missing_frames == "50p"'
    generation_nmf25p: 'rec_or_gen == "gen" and n_missing_frames == "25p"'